.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
  margin-left: 0px;
  display: inline;
  border: 1px solid white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid white !important;
}

.page-item.active .page-link {
  background-color: green !important;
  color: white !important;
  border-radius: 2px;
}
.page-link {
  color: #082432 !important;
  background-color: white !important;
}
